# Core
pandas
numpy
requests
joblib

# Machine Learning
scikit-learn

# API
fastapi
uvicorn[standard]

# Dashboard
streamlit
plotly

# Banco de dados
sqlite-utils  # opcional, ajuda a inspecionar o SQLite

# Extras
pyarrow  # leitura/gravação parquet